.moods {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  height: auto;
  width: auto;

  button {
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: clamp(0.1rem, 10vw, 4.5rem);
  }

  button:hover,
  button:focus-visible {
    transform: scale(1.15) translateY(-2px);
  }

  button:active {
    transform: scale(1) translateY(1px);
  }
}
